.landing-page{
    display: flex;
    align-items: center;
    background-color: #b3f8d5;
}
h4{
    font-weight: bold;
    color: rgb(24, 87, 5);
    font-size: xx-large;
}
.landing-left{
    margin-right: 8%;
  
}
.landing-image{
    object-fit:cover;
    width: 700px;
    
}
.landing-right{
  margin: 3%;
    margin-left: 9%;
    
}
h1{
    flex-wrap: wrap;
    font-size: 50px;
    color: black;
}
.p{
    color: grey;
    font-size: 30px;
}
.button1 {
  

    margin-left: 40px;
    padding: 20px 20px; 
    font-size: 16px;
    background-color: #074d2a;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
  
}
